.body1{
	width: 200px;
	height: 200px;
	background-color: pink;
}
.caja1{
	width: 100px;
	height: 100px;
	background-color: green;
}
.interno1{
	border: solid 2px #33ffaa;
	background-color: #ff4499;
}